<div class="propsTile">
	<!--<div class="top-panel">
		<div class="pic-holder col-sm-4"></div>
		<div class="info-holder col-sm-8">
			<div class="col-sm-12"><h4>129 Hagen Road Newton, Ma</h4></div>
			<div class="col-sm-12"><b>Landlord: </b> Peter Karys</div>
			<div class="col-sm-12"><b>Management: </b> None</div>
			<div class="col-sm-12"><b>Avg. Rating: </b> 4.8 of 5</div>
			<div class="col-sm-12"><b>Would Recommend: </b> 94%</div>
		</div>
	</div>-->
	<div class="prop-reviews-panel">

	</div>
</div>