<div class="row address-tile">
	<div class="row tile-header">
		<h5>
			<a>{{property.street_address}}</a>
		</h5>
	</div>
	<div class="row star-rating">
		<!--<input type="hidden" class="rating" data-stop="5" data-step="0"/>-->
		<input type="hidden" class="rating" value="3" data-readonly/>   {{property.average_review}} of 5 (<a>{{property.total_reviews}} Reviews</a>)
	</div>
	<div class="row tile-info">
		Total Units: 10+
	</div>
	<div class="row tile-info">
		Rent Range: $1400-$2000
	</div>
	<div class="row tile-info">
		Landlord: N/A
	</div>
	<div class="row tile-info">
		Management: AMLI Management
	</div>						
</div>