<div class="main-section">
	<!-- Side Panel will contain information about what goes on in the middle/map panel -->
	<div class="col-sm-3 side-panel">
		<div class="row side-header">
			<div class="row side-title">
				<h4>Properties By: </h4>
			</div>
			<div class="row side-select">
				<div class="col-sm-5 pull-right">
					<a ng-click="vm.cutType = 'Address'"><h5>Address</h5></a>
				</div>
				<div class="col-sm-5 pull-right">
					<a ng-click="vm.cutType = 'Landlord'"><h5>Landlord</h5></a>
				</div>
			</div>
		</div>
		<!-- Side Body tiles will go here and overflow scroll -->
		<div class="row side-body">
			<div ng-if="vm.cutType == 'Landlord'">
				<div ng-repeat="landlord in vm.landlords">
					<div ng-include="'/static/templates/snippets/sidePanelLLCard.html'"></div>
				</div>
			</div>
			<div ng-if="vm.cutType == 'Address'">
				<div ng-repeat="property in vm.properties">
					<div ng-include="'/static/templates/snippets/sidePanelPropCard.html'"></div>
				</div>
				
			</div>
		</div>
		<!-- END Side Body -->
	</div>
	<!-- END side panel -->
	<!-- Main Panel will contain the action of the site, the map and later profile information -->
	<div class="col-sm-9 main-panel">
		<slum-map currProps="vm.properties"></slum-map>
	</div>
	<!-- END main panel -->
</div>
