{% load staticfiles %}

<script type="text/javascript" src="{% static 'imports/jquery/jquery.min.js' %}"></script>

<script type="text/javascript" src="{% static 'imports/bootstrap/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'imports/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'imports/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'imports/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'imports/angular-ui/ui-bootstrap.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>-->


<script type="text/javascript" src="{% static 'javascripts/slumlords.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/slumlords.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/slumlords.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/main/main.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/main/services/landlords.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/main/controllers/landlords.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/main/controllers/home.controller.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'javascripts/maps.js' %}"></script>-->