<div class="top-section">
    <div class="col-sm-3 logo"></div>
    <div class="col-sm-9 nav-rows">  
        <div class="row nav-row top-nav">
            <a class="login-box pull-right">
            <span class="col-sm-2 login-button">
                <div>Login</div>
            </span>
            </a>
            <a class="no-border-button col-sm-2 pull-right">
              Settings
            </a>
            <a class="no-border-button col-sm-2 pull-right">
              About Us
            </a>
            <a href="/home" class="no-border-button col-sm-2 pull-right">
              Home
            </a>
      </div>
      <div class="row nav-row bottom-nav">
        <div class="search-container col-sm-6"> 
          <nav>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group search-box">
                <input type="text" class="form-control" style="width:250px" placeholder="Search address or name">
                
              </div>
            </form>
          </nav>
        </div>
        <a href='/createLandLord' class="button-container col-sm-3">
          <span class="button-text">Create Review</span>
        </a>
        <a class="button-container col-sm-3">
          <span class="button-text">My Profile</span>
        </a>

      </div>
    </div>
</div>